<nav class="navbar navbar-expand-lg navbar-dark bg-black p-0 container-fluid">
    <div class="container">
      <a class="navbar-brand" routerLink="home"><img src="../../assets/images/logo.png" class="w-logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-2 cursor-pointer" routerLink="home" routerLinkActive="active">
            <a class="nav-link" routerLinkActive="activeLinks">Home</a>
          </li>
          <li class="nav-item me-2 cursor-pointer" routerLink="login/signup" routerLinkActive="active">
            <a class="nav-link" routerLinkActive="activeLinks">Login/Signup</a>
          </li>
        </ul>
        <button (click)="logout()" *ngIf="showLogout" class="ms-auto btn bg-transparent text-white">logout</button>
      </div>
    </div>
  </nav>
